{% extends 'base.html' %}

{% block meta %}
    <title>Login</title>
{% endblock meta %}

{% block content %}
<style>
    body {
        background-color: #f0e5e5; /* Light purple background color */
        font-family: Arial, sans-serif;
        margin: 0;
        padding: 0;
    }

    .login-container {
        background-color: #7b68ee; /* Dark purple container background color */
        border-radius: 8px;
        box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.3);
        max-width: 400px;
        margin: 0 auto;
        padding: 20px;
        text-align: center;
    }

    .login-title {
        color: #fff; /* White text color */
    }

    .form-group {
        margin-bottom: 20px;
    }

    label {
        display: block;
        font-weight: bold;
        color: #fff; /* White text color for labels */
    }

    .form-control {
        width: 100%;
        padding: 10px;
        border: none;
        border-radius: 4px;
    }

    .btn.login-btn {
        background-color: #8a2be2; /* Blue-Violet button color */
        color: #fff;
        padding: 10px 20px;
        border: none;
        border-radius: 4px;
        cursor: pointer;
        font-weight: bold;
    }

    .btn.login-btn:hover {
        background-color: #9932cc;
    }

    .messages {
        list-style: none;
        padding: 0;
        color: #D2BA18; /* yellow color for messages */
    }

    .register-link {
        color: #fff; 
        font-weight: bold;
        margin-top: 20px;
    }

    .register-link a {
        color: #D2BA18; /* Gold link color */
        text-decoration: none;
    }

    .register-link a:hover {
        text-decoration: underline;
    }
</style>

<div class="login-container">
    <h1 class="login-title">Login</h1>
    <form method="POST" action="">
        {% csrf_token %}
        <div class="form-group">
            <label for="username">Username:</label>
            <input type="text" name="username" id="username" placeholder="Username" class="form-control">
        </div>
        <div class="form-group">
            <label for="password">Password:</label>
            <input type="password" name="password" id="password" placeholder="Password" class="form-control">
        </div>
        <div class="form-group">
            <input class="btn login-btn" type="submit" value="Login">
        </div>
    </form>
    {% if messages %}
        <ul class="messages">
            {% for message in messages %}
                <li>{{ message }}</li>
            {% endfor %}
        </ul>
    {% endif %}
    <p class="register-link">Already has account? Login <a href="{% url 'main:register' %}">Register Now</a></p>
</div>
{% endblock content %}
