{% extends 'base.html' %}

{% block content %}
    <!-- CSS Styles -->
    <style>
        /* Page Title */
        h1 {
            font-size: 40px;
            font-weight: bold;
            color: #AA6EB3;
            text-align: center;
            margin: 50px;
        }

        /* List of Items and Last Login styles */
        h5 {
            font-size: 20px;
            font-family: Serif;
            color: #fff;
            background-color: #B3766E;
            padding: 5px;
            border: 1px solid #AA6EB3;
            margin: 20px;
        }

        /* Class for Name */
        .name-class {
            font-size: 24px;
            font-weight: bold;
            color: #AA6EB3;
            margin: 10px;
        }

        .name-class-container {
            text-align: center; /* Pusatkan teks dalam kotak */
            border: 1px solid #AA6EB3; /* Tambahkan garis pinggir pada kotak */
            padding: 10px; /* Berikan jarak padding untuk membuat kotak lebih terlihat */
            background-color: #EADBEC; /* Warna latar belakang kotak */
        }        

        /* Content Container */
        .content-container {
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            height: 100vh;
        }

        /* Content Margin */
        .content {
            margin: 20px;
        }

        /* Item cards */
        .Items-cards {
            display: flex;
            flex-wrap: wrap;
            justify-content: space-between;
        }

        /* Gaya kartu inventaris */
        .Items-card {
            background-color: #AA6EB3;
            color: white;
            font-family: Serif;
            border-radius: 5px;
            margin: 10px;
            padding: 10px;
            width: calc(50% - 20px);
            box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
            transition: transform 0.3s, box-shadow 0.3s;
        }

        /* Hover effect for Items */
        .Items-card:hover {
            transform: translateY(-10px);
            box-shadow: 0px 20px 40px rgba(90, 24, 154, 0.3);
        }

        /* Item's name*/
        .Items-card h2 {
            font-size: 20px;
            font-weight: bold;
            margin-top: 20px;
            margin-bottom: 20px;
        }

        /* Text size */
        .Items-card p {
            font-size: 20px;
        }

        /* Button style */
        .button {
            background-color: #AA6EB3;
            color: #fff;
            padding: 10px 20px;
            border: none;
            border-radius: 6px;
            cursor: pointer;
            font-weight: bold;
            margin: 30px;
            box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
        }

        /* Hover effect for button */
        .button:hover {
            background-color: #8F7993;
        }
    </style>

    <!-- Page Title -->
    <title>Patisserie</title>
    <h1>Patisserie Page🧁</h1>

    <!-- Name and Class in a box -->
    <div class="name-class-container">
        <p class="name-class">{{ name }}</p>
        <p class="name-class">{{ class }}</p>
    </div>

    <!-- Items List -->
    <h5>List of Items:</h5>

    <!-- Item Cards -->
    <div class="Items-cards">
        {% for product in products %}
            <div class="Items-card">
                <div class="Items-card-content">
                    <h2>{{ product.name }}</h2>
                    <p>Price: {{ product.price }}</p>
                    <p>Amount: {{ product.amount }}</p>
                    <p>{{ product.description }}</p>
                    <!-- Ubah warna latar belakang tanggal penambahan -->
                    <p style="background-color: #EADBEC;">Date Added: {{ product.date_added }}</p>
                </div>
            </div>
        {% endfor %}
    </div>

    <!-- Last Login -->
    <br />
    <h5>Sesi terakhir login: {{ last_login }}</h5>

    <!-- Add New Product Button -->
    <a href="{% url 'main:create_product' %}">
        <button class="button">
            Add New Product
        </button>
    </a>

    <!-- Logout Button -->
    <a href="{% url 'main:logout' %}">
        <button class="button">
            Logout
        </button>
    </a>
</div>
{% endblock content %}
